*.log
.DS_Store
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/vendor
Homestead.json
Homestead.yaml
Thumbs.db
yarn-error.log
/_ide_helper.php
/.phpstorm.meta.php
/reports/
/tsconfig.tsbuildinfo
/.phpunit.cache/
/storage/certs/

# Sentry Config File
.env.sentry-build-plugin

database/migrations/2025_11_27_141320_add_clinic_doctor_table.php
src/Doctors/App/Controllers/AssignClinicToDoctorController.php
src/Doctors/App/Requests/AssignClinicDoctorRequest.php